<% title "Mockups" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Project</th>
  </tr>
  <% for mockup in @mockups %>
    <tr>
      <td><%= mockup.name %></td>
      <td><%= mockup.description %></td>
      <td><%= mockup.project_id %></td>
      <td><%= link_to "Show", mockup %></td>
      <td><%= link_to "Edit", edit_mockup_path(mockup) %></td>
      <td><%= link_to "Destroy", mockup, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Mockup", new_mockup_path %></p>
