<% title "Mockups" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Project</th>
  </tr>
  <% for mockup in @mockups %>
    <tr>
      <td><%= mockup.name %></td>
      <td><%= mockup.description %></td>
      <td><%= mockup.project_id %></td>
      <td><%= link_to "Show", project_mockup_path(@project, mockup) %></td>
      <td><%= link_to "Edit", edit_project_mockup_path(@project, mockup) %></td>
      <td><%= link_to "Destroy", project_mockup_path(@project, mockup), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Mockup", new_project_mockup_path(@project) %></p>
