<% title "Mockup" %>

<p>
  <strong>Name:</strong>
  <%= @mockup.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @mockup.description %>
</p>
<p>
  <strong>Project:</strong>
  <%= @mockup.project_id %>
</p>

<p>
  <%= link_to "Edit", edit_project_mockup_path(@project, @mockup) %> |
  <%= link_to "Destroy", project_mockup_path(@project, @mockup), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", project_mockups_path(@project) %>
</p>
