<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @block.name %>
</p>

<p>
  <b>Description:</b>
  <%= @block.description %>
</p>

<p>
  <b>Title:</b>
  <%= @block.title %>
</p>

<p>
  <b>Action:</b>
	<%= @block.action %>
	<a href="" id="action_handler">try!</a>
</p>
<div style="width:200px;height:200px;border: solid 1px #999;margin:20px;" id="test">Yo!</div>
<p>
  <b>Extra:</b>
  <%= @block.extra %>
</p>
<script type="text/javascript">
$(document).ready(function(){
	$('#action_handler').click(function(){
		var action = eval(<%=raw @block.action%>);
		action($('#test'));
		return false
	})
})
</script>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
